<h2>Add a comment</h2>
<%= render "form", comment: @comment %>

<style>
h2 {
  color: #191970;
   font-family: 'Bitter', serif; 
   font-size: 30px; 
   font-weight: 300; 
   line-height: 32px;
   text-aling: justify;
   margin: 0 0 15px 30px;
}
</style>