<div class="header">
  <h1>Update Article</h1>
</div>

<%= form_with(model: @article, url: user_article_path(@article), local: true) do |form| %>
  <%= render partial: 'form', article: @article, locals: { form: form } %>
<% end %>

<style>
h1 {
  color: #C0C0C0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-color: #5F9EA0;
}

div.header{
  background-color: #708090;
  padding: 15px;
}
</style>