<div class="header">
  <h1>Articles</h1>
  <p>Our blog has <%= Article.public_count %> articles and counting!</p>
</div>

<div class="btn">
  <%= link_to "Profile", current_user, :class => "btn btn-outline-success" %>
</div>

<h2>List of articles</h2>
<ul class="list-group">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class="list-group-item list-group-item-primary">
        <%= link_to article.title, article%>
      </li>
    <% end %>
  <% end %>
</ul>

<style>
h1 {
  color: #C0C0C0; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 170px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
  font-color: #5F9EA0;
}

p {
  color: #F0F8FF; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 10 72px;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px;
  text-aling: justify;
  margin: 0 30px 15px 30px;
}

div.header{
  background-color: #708090;
  padding: 30px;
}

ul {
  margin: 0 30px 0 30px;
}

li {
  margin: 0 0 10px 0;
}

div.btn {
  margin:  20px 30px;
}
p.logged{
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
  margin: 0 10 72px;
}
</style>