<div class="container-xl">
  <h1>New Article</h1>
</div>

<%= form_with(model: @article, url: user_articles_path, local: true) do |form| %>
  <%= render partial: "form", article: @article, locals: { form: form } %>
<% end %>

<style>
h1 {
  color: #F0FFFF; 
  font-family: 'Bitter', serif;
  font-size: 60px; 
  font-weight: 300;
  margin: 0 10 72px;
  padding: 10px;
  text-align: center;
}

div.container-xl {
  background-color: #2F4F4F;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0 0 80px;
}
</style>