<div class="header">
  <h1>New User</h1>
</div>

<%= render 'form', user: @user %>

<style>
h1 {
  color: #C0C0C0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-color: #5F9EA0;
}

div.header{
  background-color: #708090;
  padding: 15px;
}
</style>
